<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Odell</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'football/images/football.png' %}" />

    <link rel="stylesheet" href="{% static 'football/css/odell.css' %}">

</head>
<body>
    <h1>Odell Catches Everything <a href="/"><img src="/static/football/images/home.svg" alt="home icon" height="40px"></a></h1>
    <h2><a href="/"><img src="/static/football/images/home.svg" alt="home icon" height="40px"></a></h2>
</body>
</html>