<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>playr</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'football/images/football.png' %}" />

    <link rel="stylesheet" href="{% static 'football/css/style.css' %}">
</head>
<body>
    <div id="rapper">
        <div id="players">
            <h2 id ="title2">Players </h2>
            <div id="overflow">
                    {% for player in players|dictsort:"rank" %}
                    <p> {{player.rank}}) <a href="/player/{{player.id}}"><span id="xp"> {{player.first_name}} {{player.last_name}}</span></a>  {{player.position}} Owned by {{player.owner.first_name}} {{player.owner.last_name}}</p>
                    {% endfor %}
            </div>                
                
        </div>
        <div id="users">
                <h2> <span id ="hot"> Standings </span></h2>
                {% for user in users|dictsort:"wins" %}
                    <p> <a href="team/{{user.id}}">{{user.first_name}} {{user.last_name}} {{user.team_name}}</a> {{user.wins}}-{{user.losses}}</p>
                {% endfor %}
        </div>
        <div></div>
        <h2><a href="/"><img src="/static/football/images/home.svg" alt="home icon" height="40px"></a></h2> 
    </div>
</body>
</html>